name: Build and Push Docker Image

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      reason:
        description: "Why are you manually rebuilding?"
        required: false
        default: "Manual rebuild"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set lowercase owner
      id: owner
      run: echo "owner=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ghcr.io/${{ steps.owner.outputs.owner }}/edhrec-deck-analyzer:latest
